gunicorn==20.1.0
psycopg2-binary==2.9.5
Flask==2.2.3
Flask_Bootstrap==3.3.7.1
flask_ckeditor==0.4.6
Flask_Login==0.6.2
flask_sqlalchemy==3.0.3
Flask_WTF==1.1.1
SQLAlchemy==2.0.7
Werkzeug==2.2.3
WTForms==3.0.1
